/* Enter your custom styles here */
.myBackgroundStyle {
    background-image: url('payment-advice-banner.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center; 
}